.main{
    position : relative;
    text-align: center;
    height: 95vh;
    width: 86%;
    margin: {
        left: 7%;
        right: 7%;
    };  
    padding: {
        top: 5vh;
    }
    z-index: 0;
}

#mainTitle{
    height: 5vh;
    margin : {
        bottom: 5vh;
    }
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	white-space: nowrap;
	text-align: center;
    font : {
        family: Malgun Gothic;
        style: normal;
        weight: bold;
        size: 40px;
    }
	color: #ffffff;
	letter-spacing: 0.05px;
}

.roomlist{
    width: 100%;
    height: 70vh;
    background-color: #373e61;
    opacity: 0.75;
    overflow: auto;
    padding: {
        top: 5vh;
        bottom: 5vh;
    };
    & ul{
        padding: 0;
        list-style: none;

    }

    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-track {
    background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: gray;
    }
    &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    }

}
.roomli{
    cursor: pointer;
    width: 86%;
    height: 32vh;
    text-align: center;
    
    
    margin: {
        left : 7%;
        right: 7%;
        bottom: 5vh;
    }



    & .addroom{
        background-color: #293157;
        opacity: 0.9;
        width: 94%;
        height: 26vh;
        box-shadow: 2px 4px 0 rgb(0,0,0,0.5);

        padding: {
            top: 3%;
            bottom: 3%;
            left: 3%;
            right: 3%;
        };

        font: {size: 18vh};
        &:active{
            box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
        }
    }

    & .room{
        color: #ffffff;
        background-color: #000000;
        opacity: 0.8;
        width: 94%;
        height: 26vh;
        box-shadow: 2px 4px 0 rgb(0,0,0,0.5);

        padding: {
            top: 3%;
            bottom: 3%;
            left: 3%;
            right: 3%;
        };

        & .title, .users{text-align: left;}
        & .genre, .remainsong{text-align: right;}
        & .title, .genre{
            font: {size: 3.5vh;}
            overflow: hidden;
            text-overflow:ellipsis;
            white-space:nowrap;
        }
        & .users, .remainsong{
            position: relative;
            top: 18vh;
            font: {size: 3.5vh};
        }
        & .title{
            display: inline-block;
            width: 40%;
        }
        & .genre{
            display: inline-block;
            width: 60%;
        }
        & .users{
            display: inline-block;
            width: 40%;
        }
        & .remainsong{
            display: inline-block;
            width: 60%;
        }
        &:active{
            box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
        }
    }
    
}
