.game{
    width: 100%;
    height: 100vh;

    background-color: #1d1d1d;
}

.scoreBoard{
    position: absolute;
    & .li{
        margin : 0;
        padding: {
            top: 3vh;
            left: 3vw;
        }
    }
}

.Scoreli{
    list-style: none;
    & div{
        display : inline-block;
        width: 2vh;
        height: 2vh;
    }
    & span{
        font-size: 2vh;
        color : white;
    }
    
}

.chat{
    & .chatMsg span{
        font: {
            size: 1.8vh;
        };
    }
}

//log window
.logBox{
    width : 40%;
    height : 70vh;
    position : fixed;
    top : 10vh;
    left : 30%;
    background-color: rgb(122, 122, 122);
    opacity: 0.9;

    & .log{
        list-style: none;   
    }
    & .chat{
        color : white;
    }
    & .closeBox{
        position : absolute;
        width : 20%;
        bottom : 1vh;
        left : 40%;
        height: 3vh;
        background-color: #7a7a7a;
        opacity: 0.7;
        color: white;
    }
}

.chatLog{
    position: fixed;
    top: 1vh;
    right : 1%;
}
//boxes
.chatBtn{
    & button{
        width : 7%;
        height : 4vh;
        background-color: #7a7a7a;
        color : white
    }


    & .gameStart{
        position:fixed;
        bottom: 1vh;
        right: 10%;
    }
    & .gameExit{
        position:fixed;
        bottom: 1vh;
        right: 1%;
    }
}

//user name box
.addUsr{
    position : fixed;
    top : 40vh;
    left : 30%;
    width: 40%;
    height: 20vh;

    background-color: #7a7a7a;
    opacity: 0.9;

    text-align: center;

    & .nameInfo{
        color : white;
        font: {
            size: 3vh;
        };
    }

    & #newNickname{
        margin: {
            top: 2vh;
            bottom : 2vh;
        }
        width: 60%;
        height: 5vh;
        font: {
            size: 4.7vh;
        }
        text-align: center;
    }

    & .nameOk{
        width: 20%;
    }
}