button{
  cursor: pointer;
}

.selectMode{
  position: fixed;
  bottom : -10vh;
  left : 0px;
  margin: {
      left: 20%;
      right: 20%;
      top: 10%;
      bottom: 20%;
  }
  width : 60%;
  height : 60vh;

  border : {
      width: 1px;
      color: black;
      radius: 5px;
      style: solid;
  }
  z-index: 1;
  background-color: rgb(167, 167, 167);
}


.selSection{
  & span{
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.161));
  }
  color: #707070;
  font: {
    weight: bold;
    family: "Malgun Gothic";
    size: 20px;
  }
  margin: {
    top: 3%;
    left: 3%;
  }
}

.roomNo, .songNum, .nickname{
  text-align: center;
  margin : {
    top: 1%;
  }
  font: {
    size: 2.5vh;
  };
  border : {
    radius: 6px;
    style: solid;
    width: 1px;
    color: black;
  }
  height: 3vh;
}

.selBtn{
  background-color: white;
  height: 5vh;
  border : {
    radius: 5px;
    style: solid;
    width: 1px;
    color: #489eff;
  }
  margin : {
    bottom: 1%;
    right: 1%;
  }
  &:hover{
    background-color: #bfddff;
  }
}
.clicked{
  background-color: #bfddff;
}

.deciBtn{
  background-color: #dadada;
  position: absolute;
  width: 15%;
  height: 5vh;
  bottom: 6px;
  right: 3px;
  @at-root #accept{
    right: 17%;
  }
  margin : {
    top: 3%;
    right: 1%;
  }
  font : {
    family: "Malgun Gothic";
    weight: bold;
    size: 2vh;
  }
  border: {
    style: solid;
    width: 1px;
    radius: 3px;
    color: #c2c2c2;
  }

}

.checkMade{
  position: fixed;
  left : 35%;
  top : 45vh;

  background-color: #c2c2c2;

  width: 30%;
  height : 10vh;
  border: {
    width : 1px;
    style : solid;
    color : #808080;
  };
  text-align: center;
  & span{
    position : relative;
    left : 23%;
    top : 2vh;
  }

  & button{
    position : relative;
    right : 25%;
    top : 5.5vh;
    width: 20%;
    height: 3vh;
    margin : 0 2.5%;
  }
}